*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
html, body{
    height: 100%;
}

.contenedor{
    padding: 50px;
    min-width: 700px;
    max-width: 1200px;
    min-height: 1000px;
    margin: 0 auto;
    /*grid*/
    display:grid;
    grid-template-columns: repeat(4,minmax(150px,1fr));
    grid-template-rows: repeat(4,minmax(150px,1fr));
    gap: 10px;
}
.caja{
    background-color: #eee;
    font-size: 48px;
    color: white;
    background-size: cover;
    background-position: center;
    transition-duration:0.5s ;

    animation-name:entrada;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    /*aniamtion_fill:mode define que pasa antes de la animacion*/
            /*backwards: animacion se aplique antes que*/
    animation-fill-mode: backwards;
  
}
.caja:nth-of-type(1){
    /*url('http:// o micarpeta')*/
    background-image: url(../img/tile1.jpg);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    animation-delay: 50ms;
}
.caja:nth-of-type(2){
    background-image: url(../img/tile2.jpg);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    animation-delay: 120ms;
}
.caja:nth-of-type(3){
    background-image: url(../img/tile10.jpg);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    animation-delay: 150ms;
}
.caja:nth-of-type(4){
    background-image: url(../img/tile11.jpg);
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    animation-delay: 80ms;
}
.caja:nth-of-type(5){
    background-image: url(../img/tile16.jpg);
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    animation-delay: 300ms;
}
.caja:nth-of-type(6){
    background-image: url(../img/tile15.jpg);
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    animation-delay: 80ms;
}.caja:nth-of-type(7){
    background-image: url(../img/tile16.jpg);
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    animation-delay: 350ms;
}
.caja:nth-of-type(8){
    background-image: url(../img/tile13.jpg);
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    animation-delay: 400ms;
}
.caja:hover{
    box-shadow: 4px 4px 4px gray;
    transform: translate(0,5px) scale(1.01);
}
@keyframes entrada {
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
